
.flex{
  display:flex;
  >img{
    width:52%;
  }
}
.loginButtons{
  width: 100%;
  justify-content: flex-end;
  display: flex;
  margin-top:2vh;
  margin-bottom: 0.5vh;
  font-size:1rem;
  opacity:0.7;
  height:38px;
  p{
    padding:1%;
  }
    a:first-of-type{
      width:60px;
    }
    a:last-of-type{
      width:99px;
    }
    a{
      text-align: center;
      margin-left: 2%;
      padding:1%;
      border: 1px solid transparent;
      display:block;
      color:black;
      text-decoration: none;
  }
  a:hover{
    cursor:pointer;
    border: 1px solid gold;
  }
}

.startButtons{
  width:100%;
  display:flex;
  justify-content:flex-end;
  .active{
    border:1px solid #737373;
  }
    a:nth-of-type(1){
      width:46px;
    }
  a:nth-of-type(2){
    width:100px;
  }
  a:nth-of-type(3){
    width:50px;
  }
  a:nth-of-type(4){
    width:189px;
  }
  a:nth-of-type(5){
    width:67px;
  }
    a{height:25px;
      padding: 0.5%;
      margin-left:2%;
      font-size:1.15rem;
      border:1px solid transparent;
      text-decoration: none;
      display:block;
      color:black;
    }
  a:hover{
    cursor:pointer;
    border:1px solid #737373;
  }
}

.decoration{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h2:first-of-type{
    margin-top:20%;
  }
  h2{

    text-align: center;
    font-size:1.8rem;
    font-weight:400;
  }
  img{
    display:block;
    width:30%;
    margin: 3% auto 7%;
  }
}
.niceButtons{
  display:flex;
  justify-content: space-between;
  font-size:1.7rem;
  color: #737373;
  font-family: Merriweather;
  div{
    width:45%;
    border: 1px solid #737373;
    height: 10vh;
    display: flex;
    align-items: center;
    p{
      margin:auto;
      a{
        color:black;
        text-decoration: none;
        font-family: Merriweather, Serif;
      }
    }
  }
}