.logout{
  width:25vw;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-top:5%;
  h2{
    font-size:2.4rem;
  }
  p{
    margin-top:10%;
    border:1px solid #737373;
    width:30%;
    height:45px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }
  img{
    margin-top:5%;
  }
  a{
    text-decoration:none;
    align-self: center;

    display:block;
    color:#737373;
  }
}