.register{
  width:20vw;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background-color:#F0F1F1;
  height:30vh;
  >div:first-of-type{
    width:70%;
    margin-left:auto;
    margin-right:auto;
  p{
    text-align:left;
  }
    p:first-of-type{
      padding-top:15%;
    }
    input{
      width:100%;
      background-color: #F0F1F1;
      margin-top:3%;
    }
    hr{
      height:1px;
      width:100%;
      background-color: #737373;
    }
  }
}
.registerBtn{
  position: absolute;
  left: 36vw;
  width: 27vw;
  display:flex;
  justify-content: space-between;
  margin-top:3%;
  button{
    background-color: white;
    font-size:1rem;
    border: 1px solid transparent;
    padding:2%;
    opacity:0.7;
  }
  a{
    text-decoration:none;
    color:black;
  }
  button:hover{
    border:1px solid #737373;
  }
}