@font-face {
  font-family: "Merriweather";
  src: url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
}
@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
}
$font-base: 'Open Sans';

$font-alt: 'Merriweather';
