.login{
  width:90vw;
  margin-left:auto;
  margin-right:auto;
  div:nth-of-type(3){
    text-align: center;
    margin-top:8%;
    width:25vw;
    margin-left:auto;
    margin-right:auto;
    img{
      width:50%;
      margin-top:5%;
      margin-bottom:10%;
    }
    h2{
      font-size:2.4rem;
    }
    >div{
      width:80%;
      margin-left:auto;
      margin-right:auto;
      background-color:#F0F1F1;
      height:20vh;
      input{
        background-color:#F0F1F1;
        width:100%;
      }
      hr{
        height:1px;
        width:100%;
        background-color:#737373 ;
      }
      >div{
        width:70%;
        margin-left:auto;
        margin-right:auto;
      }
      p:first-of-type,p:nth-of-type(3){
        padding-top:10%;
        padding-bottom:5%;
        text-align:left;
      }
    }
  }
  .buttons{
    display:flex;
    justify-content: flex-end;
    p {
      margin-top: 1%;
      margin-right: 0.5%;
      padding: 0.5%;
      border: 1px solid transparent;
      font-size:1rem;
      opacity:0.7;
      >a{
        text-decoration: none;
        color:black;
      }
    }
    p:hover{
      border: 1px solid gold;
    }
  }
}
.lgButton{
  width: 27vw;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between;
  margin-top:2%;
  button{
    background-color: white;
    font-size:1rem;
    border: 1px solid transparent;
    padding:2%;
    opacity:0.7;
  }
  a{
    text-decoration:none;
    color:black;
  }
  button:hover{
    border:1px solid #737373;
  }
}